{% extends 'base.html.twig' %}

{% block body %}

    <div class="container text-center">
    <h1>Comment ca marche? </h1></div>
    </br>
    <div class="container">
    <h4>J'achéte aux enchéres </h4>
    <h6>pour acheter aux enchéres, je commence par m'inscrire en cliquant sur le bouton inscription sur 
    l'acceuil. Ensuite, vous indiquez votre mail, pseudo et mot de passe, vous placer votre offre et enfin vous effectuez le paiement selon l'une des méthodes  proposées. 
    Vous recevez par la suite votre lot au bout de 3 jours ouvrables.</h6>
    <center>
    <table>
        <tr>
            <th><img width="250" height="125" alt="" src="https://cdn.catawiki.net/assets/help/ui/illustrations/buy_icon1-135c23a04ef11800d21754737e8731599fa1aa28952a768bb3f5eb3f4b168927.svg"></th>
            <th></br></th>
            <th><img width="250" height="125" alt="" src="https://cdn.catawiki.net/assets/help/ui/illustrations/buy_icon2-9b7b2889eed76e2687c4c68e68cbc6e9e2b811bc4cc6d7b7f74b2893a80cd1cd.svg"></th>
            <th></br></th>
            <th><img width="250" height="125" alt="" src="https://cdn.catawiki.net/assets/help/ui/illustrations/buy_icon3-f303776239e88eedf6d993b73d09acd5cf98e97321a143f38b64944114ba195b.svg"></th>
            <th></br></th>
            <th><img width="250" height="125" alt="" src="https://cdn.catawiki.net/assets/help/ui/illustrations/buy_icon4-74bc55f3addb12832e15300b9861ed2d4672aae907b2f4c00baaf53a0add26e3.svg"></th>
        </tr>
    </table>
    </center>
    </br>
    <h4>Je vends aux enchéres </h4>
    <h6>vous pouvez de même vendre vos propres objets via nos enchéres.
    vous possedez des objets de collection de qualité premium, vous pouvez facilement 
    les proposer dans nos ventes aux enchéres. Commencez par selectionner la vente pour laquelle 
    vous voulez proposer vos objets, ensuite décrivez les lots le mieux possible et ajoutez des photos nettes.
    Et enfin créez votre compte gratuit, en quelques clics </h6>
     <center>
     <table>
        <tr>
            <th><img width="250" height="125" alt="" src="https://cdn.catawiki.net/assets/help/ui/illustrations/sell_icon1-91c98cc1dda923d6dd2e448153b41b6a8cb03ce4236f57756bf08e59719a7dd2.svg"></th>
            <th></br></th>
            <th><img width="250" height="125" alt="" src="https://cdn.catawiki.net/assets/help/ui/illustrations/sell_icon2-8af6712b5f9ab472fc298aa4e893cc802f0e2cb67af969b933f85ffc5a0b1094.svg"></th>
            <th></br></th>
            <th><img width="250" height="125" alt="" src="https://cdn.catawiki.net/assets/help/ui/illustrations/sell_icon3-00c54a1b8b434f4efa15bfb0ee8a8489c1c1496275fd6bc2cb881795118f7dde.svg"></th>
            <th></br></th>
            <th><img width="250" height="125" alt="" src="https://cdn.catawiki.net/assets/help/ui/illustrations/sell_icon4-20f9555251982df8f9857b2bd405336ff37347e3d0d336f6f7f790212656e35c.svg"></th>
        </tr>
    </table>
    </center>
    </div>
    
{% endblock %} 