{% extends 'base.html.twig' %}
{% block body %}
    <center><h1> bienvenue à l'acceuil </h1>
    </br>
    </br>
    </br>
    <table>
        <tr>
        <th scoope="col">
            
            <a class="btn btn-primary btn-lg btn-block"; href="/anchors"  style="width:550px ;height:90px" type="button"> Enchéres </a>
            </br>
            </br>
            {% if not app.user  %}
                <a class="btn btn-primary btn-lg btn-block"; href="/inscription" style="width:550px ;height:90px" type="button"> Inscription </a>
            {% else %}
                <a class="btn btn-primary btn-lg btn-block"; href="/historique" style="width:550px ;height:90px" type="button"> Historique d'enchéres </a>
            {% endif %}    
            </br>
            </br>
            <a class="btn btn-primary btn-lg btn-block"; href="/packJetons" style="width:550px ;height:90px" type="button">Packs jetons</a>
            </br>
            </br>
            <a class="btn btn-primary btn-lg btn-block"; href="/help" style="width:550px ;height:90px" type="button">Comment ça marche? </a>
            </br>
        </th>
        <th scoope="col">
            <h1>&nbsp; &nbsp;&nbsp;</h1>
        </th>
        <th scoope="col">
            <img src="https://www.nationspresse.info/wp-content/uploads/2018/11/comment-se-deroulent-les-ventes-aux-encheres.jpg" height= "500" width="450">
        </th>
        </tr>    
    </table>
        
    </center> 
{% endblock %}
