{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}

<center><h1> Pack jetons <img width="50" height="50" src="https://cdn.pixabay.com/photo/2017/10/17/02/31/coin-2859345_960_720.png"></h1></center>
   
    <center>
    <table>
        <tr>
        <th width="350"><div class="jumbotron">
                <center><h3 class="text-primary">Le Pack Silver</h3></center>
                <center><p class="lead"><img width="200" height="200" alt="" src="http://getdrawings.com/vectors/gold-coin-vector-11.jpg"></p></center>
                <hr class="my-4">
                <p> Le pack silver va te permettre de t'offrir un petit plaisir sur notre site à 49.99 euros, où tu vas recevoir 1.000 jetons en retour</p>
                <p class="lead">
                    <center><a class="btn btn-primary btn-lg" href="#" role="button">Acheter</a></center>
                </p>
        </div>
        </th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
         <th width="350"><div class="jumbotron">
            <center><h3 class="text-primary">Le Pack Gold</h3></center>
            <center><p class="lead"><img width="250" height="250" alt="" src="http://getdrawings.com/vectors/gold-coin-vector-34.jpg"></p></center>
            <hr class="my-4">
            <p> Le pack gold va te permettre de vivre une expérience ultime sur notre site d'enchére, tu vas recevoir 5.000 jetons juste a 99.99 euros</p>
            <p class="lead">
                <center><a class="btn btn-primary btn-lg" href="#" role="button">Acheter</a></center>
            </p>
        </div>
        </th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th width="350"><div class="jumbotron">
            <center><h3 class="text-primary">Le Pack Bronze</h3></center>
            <center><p class="lead"><img width="200" height="200" alt="" src="http://getdrawings.com/vectors/gold-coin-vector-33.jpg"></p></center>
            <hr class="my-4">
            <p> le pack bronze t'offrira le moyen d'encherir sur notre application avec 100 jetons à seulement 9.99 euros</p>
            <p class="lead">
                <center><a class="btn btn-primary btn-lg" href="#" role="button">Acheter</a></center>
            </p>
        </div>
        </th>
    </tr>
    </table>
    </center>
{% endblock %}
