{{form_start(form)}}
<div class="row">
    <div class= "col md-6">
        {{ form_row(form.dateDebut,{'label': 'Date de Début','class':'form-control'}) }}
        {{ form_row(form.dateFin,{'label': 'Date de fin','class':'form-control'}) }}
    </div>
</div>
{{form_end(form)}}